*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-seri ;
}
.layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}
#aside{
    background-color: rgb(34, 168, 34);
    height: 95vh;
    border-radius: 10px;
    flex: 0 0 260px;
}
#main{
    background-color: rgb(10, 57, 196);
    height: 95vh;
    width: calc(100vw - 300px);
    border-radius:10px;
    flex: 1 1 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    flex-wrap: wrap;
}
ul{
    display: flex;
    flex-direction: column;
}