*{
    margin: 0px;
    padding: 0px;
    font-family:Arial, Helvetica, sans-seri ;
}
.layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 24px;
}
#aside{
    background-color: rgb(34, 168, 34);
    height: 95vh;
    border-radius: 10px;
    flex: 0 0 260px;
}
#main{
    background-color: rgb(10, 57, 196);
    height: 95vh;
    width: calc(100vw - 300px);
    border-radius:10px;
    flex: 1 1 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 24px;
    flex-wrap: wrap;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
a{
    text-decoration: none;
    color: crimson;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.conteudo{
    width: 160px;
    height: 40px;
    background-color: #F9FAFB;
    font-family:sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width: 769px){
    ul{
        flex-direction: column;
    }
}
@media (max-width: 768px){
    .layout{
        flex-flow: wrap column;
    }
    #aside{
        height: 20vh; 
        width: 97vw;
        flex: 0 0 20vh;
    }
    #main{
        height: 75vh;
        width: 97vw;
        flex: 1 1 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
    }
}